{% extends 'base-index.html.twig' %}

{% block body %}
    <!-- signin-page -->
    <section class="clearfix job-bg user-page">
        <div class="container text-center">
            <div class="user-account-content">
                <div class="user-account">
                    <div class="close-account text-center">
                        <div class="delete-account section">
                            <h2>{{ 'Success' | trans }}! {{ 'Account has been created' | trans }}</h2>
                            <h4>{{ 'Please confirm your email and join us!' | trans }}</h4>
                        </div>
                    </div>
                </div>
            </div><!-- user-login -->
        </div><!-- container -->
    </section><!-- signin-page -->
{% endblock %}

