{% macro apply(form) %}
    <div class="apply-popup">
        <div class="modal fade" id="apply-popup-id" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"><i data-feather="edit"></i>APPLY FOR THIS JOB</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form_start(form) }}
                        <div class="form-group">
                            {{ form_widget(form.cover, {'attr' : {'placeholder' : 'Message'}}) }}
                        </div>

                        <div class="form-group file-input-wrap">
                            <label for="application_resume">
                                {{ form_widget(form.resume) }}
                                <i data-feather="upload-cloud"></i>
                                <span>Upload your resume <span>(pdf,zip,doc,docx)</span></span>
                            </label>
                        </div>

                        <div class="more-option">
                            <input class="custom-radio" type="checkbox" id="radio-4" name="termsandcondition">
                            <label for="radio-4">
                                <span class="dot"></span> I accept the <a href="#">terms & conditions</a>
                            </label>
                        </div>
                        <button class="button primary-bg btn-block">Apply Now</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}