{% extends 'base-index.html.twig' %}
{% block body %}
    <div class="padding-top-90 padding-bottom-90 access-page-bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6">
                    <div class="access-form">
                        <div class="form-header">
                            <h5><i data-feather="edit"></i>Success</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

