{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">This is Tenx</h1>
            <p>Jobboard best ever</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Admin panel</a></p>
        </div>
    </div>
{% endblock %}
