{% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
        <div class="jy-alert {{ label }}-alert alert-dismissible fade show" role="alert">
            {{ flash }}
        </div>
    {% endfor %}
{% endfor %}