<ol class="breadcrumb m-0">
    {% for url, title in breadcrumbs %}
        <li class="breadcrumb-item">
            <a href="{{ url ? path(url) : '#' }}">{{ title }}</a>
        </li>
    {% endfor %}
</ol>