{% extends 'admin/admin-base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Edit Page</div>
                <div class="card-body card-block">
                    {{ form(form) }}
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
