{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage|trans }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('danger') %}
    <div class="alert alert-danger">
        {{ flashMessage|trans }}
    </div>
{% endfor %}