{% extends 'frontend/company/_base.html.twig' %}

{% block title %}{% endblock %}

{% block body_inner %}
<div class="profile job-profile">
    <div class="user-pro-section">
asdfasdf
    </div>
</div>
{% endblock %}
