{% extends 'base.html.twig' %}

{% block body %}
    <!-- Job Single Content Starts -->
    <section class="job-single-content section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-lg-4">
                    {% block sidebar %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    <!-- Job Single Content End -->
{% endblock %}