{% extends 'base.html.twig' %}

{% block body %}
    <div class="grey-bg pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="breadcrumb-area">
                        <h1>Candidates List</h1>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Candidates List</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="breadcrumb-form">
                        <form action="#">
                            <input type="text" placeholder="Enter Keywords">
                            <button><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Single Content Starts -->
    <section class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {% block sidebar %}{% endblock %}
                </div>
                <div class="col-lg-9">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>
    <!-- Job Single Content End -->
{% endblock %}