{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <!-- Banner -->
    <div class="banner banner-1 banner-1-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content">
                        <h1>58,246 Job Listed</h1>
                        <p>Create free account to find thousands Jobs, Employment & Career Opportunities around you!</p>
                        <a href="add-resume.html" class="button">Upload Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Search and Filter -->
    <div class="searchAndFilter-wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="searchAndFilter-block">
                        <div class="searchAndFilter">
                            <form action="#" class="search-form">
                                <input type="text" placeholder="Enter Keywords">
                                <select class="selectpicker" id="search-location">
                                    <option value="" selected>Location</option>
                                    <option value="california">California</option>
                                    <option value="las-vegas">Las Vegas</option>
                                    <option value="new-work">New Work</option>
                                    <option value="carolina">Carolina</option>
                                    <option value="chicago">Chicago</option>
                                    <option value="silicon-vally">Silicon Vally</option>
                                    <option value="washington">Washington DC</option>
                                    <option value="neveda">Neveda</option>
                                </select>
                                <select class="selectpicker" id="search-category">
                                    <option value="" selected>Category</option>
                                    <option value="real-state">Real State</option>
                                    <option value="vehicales">Vehicales</option>
                                    <option value="electronics">Electronics</option>
                                    <option value="beauty">Beauty</option>
                                    <option value="furnitures">Furnitures</option>
                                </select>
                                <button class="button primary-bg"><i class="fas fa-search"></i>Search Job</button>
                            </form>
                            <div class="filter-categories">
                                <h4>Job Category</h4>
                                <ul>
                                    <li><a href="job-listing.html"><i data-feather="bar-chart-2"></i>Accounting / Finance <span>(233)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="edit-3"></i>Education <span>(46)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="feather"></i>Design & Creative <span>(156)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="briefcase"></i>Health Care <span>(98)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="package"></i>Engineer & Architects <span>(188)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="pie-chart"></i>Marketing & Sales <span>(124)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="command"></i>Garments / Textile <span>(584)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="globe"></i>Customer Support <span>(233)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="headphones"></i>Digital Media <span>(15)</span></a></li>
                                    <li><a href="job-listing.html"><i data-feather="radio"></i>Telecommunication <span>(03)</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search and Filter End -->

    <!-- Jobs -->
    <div class="section-padding-bottom alice-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs job-tab" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="recent-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="true">Recent Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="feature-tab" data-toggle="tab" href="#feature" role="tab" aria-controls="feature" aria-selected="false">Feature Job</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                                                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">UI Designer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Land Development Marketer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                                                    <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">UI Designer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Land Development Marketer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                                                    <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Designer Required</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Project Manager</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                                                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Designer Required</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Project Manager</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="feature" role="tabpanel" aria-labelledby="feature-tab">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-listing.html">UI Designer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-listing.html">Designer Required</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-listing.html">Project Manager</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-1.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-listing.html">Designer Required</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-listing.html">Restaurant Team Member - Crew </a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                                                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-listing.html">Nutrition Advisor</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Land Development Marketer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                                                    <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-2.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Project Manager</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-8.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Restaurant Team Member - Crew </a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Geologitic</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New Orleans</a></span>
                                                    <span class="job-type temporary"><a href="#"><i data-feather="clock"></i>Temporary</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-9.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Nutrition Advisor</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Theoreo</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>New York City</a></span>
                                                    <span class="job-type full-time"><a href="#"><i data-feather="clock"></i>Full Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-10.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">UI Designer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Degoin</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>San Francisco</a></span>
                                                    <span class="job-type part-time"><a href="#"><i data-feather="clock"></i>Part Time</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="job-list half-grid">
                                        <div class="thumb">
                                            <a href="#">
                                                <img src="images/job/company-logo-3.png" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="body">
                                            <div class="content">
                                                <h4><a href="job-details.html">Land Development Marketer</a></h4>
                                                <div class="info">
                                                    <span class="company"><a href="#"><i data-feather="briefcase"></i>Realouse</a></span>
                                                    <span class="office-location"><a href="#"><i data-feather="map-pin"></i>Washington, D.C.</a></span>
                                                    <span class="job-type freelance"><a href="#"><i data-feather="clock"></i>Freelance</a></span>
                                                </div>
                                            </div>
                                            <div class="more">
                                                <div class="buttons">
                                                    <a href="#" class="button">Apply Now</a>
                                                    <a href="#" class="favourite"><i data-feather="heart"></i></a>
                                                </div>
                                                <p class="deadline">Deadline: Oct 31, 2018</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jobs End -->

{% endblock %}
